Repository 23-2-Media-Project/front, pull requests merged in 2023-11, with the labels that each got.

#11 Feature/#10 header component
  src/App.js
  src/assets/logo/logo-3d.svg
  src/assets/logo/logo.svg
  src/components/common/Header.jsx
  src/components/signup/BottomLicenseText.jsx
  src/pages/ExhibitionPage.jsx
  src/pages/MyPage.jsx
  src/styles/SignupPage.scss
Labels: 💭 1 FEATURE, 🎨 2 HTML & CSS

#13 Feature/#12 starting page
  src/App.js
  src/assets/icons/arrow.svg
  src/components/common/Header.jsx
  src/index.js
  src/pages/SignupPage.jsx
  src/pages/StartingPage.jsx
  src/styles/SignupPage.scss
  src/styles/StartingPage.scss
  src/styles/animation.scss
  src/styles/index.css
Labels: 💭 1 FEATURE, 🎨 2 HTML & CSS

#15 Feature/#14 main page
  src/App.js
  src/assets/icons/favorite.svg
  src/assets/icons/share.svg
  src/components/main/ExhibitionList.jsx
  src/pages/MainPage.jsx
  src/pages/MonthlyExhibitionPage.jsx
  src/pages/StartingPage.jsx
  src/styles/MainPage.scss
  src/styles/animation.scss
Labels: 💭 1 FEATURE, 🎨 2 HTML & CSS, 🐞 4 FIX

#22 Feature/#21 monthly exhibition list
  src/App.js
  src/assets/icons/expand.svg
  src/components/common/Header.jsx
  src/components/monthlyExhibition/CategorySelectMenu.jsx
  src/components/monthlyExhibition/ContentsSection1.jsx
  src/components/monthlyExhibition/ContentsSection2.jsx
  src/components/monthlyExhibition/MonthlyContentsSection.jsx
  src/pages/MonthlyExhibitionPage.jsx
  src/styles/MonthlyExhibitionPage.scss
Labels: 💭 1 FEATURE, 🎨 2 HTML & CSS

#24 Feature/#23 exhibition page
  src/assets/icons/expand-black.svg
  src/assets/icons/filter.svg
  src/components/common/ListHoverContents.jsx
  src/components/exhibition/TopicCategorySelectMenu.jsx
  src/components/monthlyExhibition/ContentsSection2.jsx
  src/pages/ExhibitionPage.jsx
  src/styles/ExhibitionPage.scss
  src/styles/MonthlyExhibitionPage.scss
Labels: 💭 1 FEATURE, 🎨 2 HTML & CSS

#25 Feature/#18 exhibition writing page
  src/App.js
  src/assets/icons/arrow_forward_ios.svg
  src/assets/icons/arrow_forward_ios_disabled.svg
  src/components/exhibition-writing/DefaultInfo.jsx
  src/pages/ExhibitionWritingPage.jsx
  src/pages/MyPage.jsx
  src/styles/ExhibitionWritingPage.scss
  src/styles/MyPage.scss
Labels: 💭 1 FEATURE, 🎨 2 HTML & CSS, 🐞 4 FIX

#28 Css/#27 modify font size
  src/components/common/Header.jsx
  src/components/exhibition-writing/DefaultInfo.jsx
  src/styles/ExhibitionWritingPage.scss
Labels: 🎨 2 HTML & CSS, 🐞 4 FIX

#30 Feature/#29 my page
  package-lock.json
  package.json
  src/assets/icons/calendar.svg
  src/assets/icons/cart.svg
  src/assets/icons/favorite-purple.svg
  src/assets/icons/link.svg
  src/assets/icons/mail.svg
  src/assets/icons/stylus.svg
  src/assets/icons/warning.svg
  src/components/common/AddCartModal.jsx
  src/components/common/ListHoverContents.jsx
  src/components/mypage/GuestBookComponent.jsx
  src/components/mypage/GuestBookMenu.jsx
  src/components/mypage/LikeExhibitionMenu.jsx
  src/components/mypage/MyExhibitionMenu.jsx
  src/components/mypage/PurchaseHistoryMenu.jsx
  src/components/mypage/TabMenu.jsx
  src/components/mypage/UserInfoBox.jsx
  src/components/mypage/WishListMenu.jsx
  src/pages/MyPage.jsx
  src/styles/ExhibitionWritingPage.scss
  src/styles/MyPage.scss
Labels: 💭 1 FEATURE, 🎨 2 HTML & CSS

#31 Feature/#26 exhibition artwork info
  src/assets/icons/arrow_back_ios.svg
  src/assets/icons/close.svg
  src/assets/icons/dehaze.svg
  src/components/exhibition-writing/AddArtwork.jsx
  src/components/exhibition-writing/ArtworkInfo.jsx
  src/components/exhibition-writing/DefaultInfo.jsx
  src/pages/ExhibitionWritingPage.jsx
  src/styles/ExhibitionWritingPage.scss
Labels: 💭 1 FEATURE, 🎨 2 HTML & CSS, 🐞 4 FIX

#34 fix: ExpandIcon 방향 수정
  src/components/monthlyExhibition/CategorySelectMenu.jsx
Labels: 🐞 4 FIX

#37 Feature/#36 edit my info page
  src/App.js
  src/assets/icons/link-black.svg
  src/assets/imgs/profile-img.jpg
  src/components/mypage/UserInfoBox.jsx
  src/components/signup/BottomLicenseText.jsx
  src/components/signup/StartingSection.jsx
  src/consts/userInfo.jsx
  src/pages/EditMyInfoPage.jsx
  src/pages/MyPage.jsx
  src/pages/StartingPage.jsx
  src/styles/EditMyInfoPage.scss
  src/styles/ExhibitionPage.scss
  src/styles/ExhibitionWritingPage.scss
  src/styles/MainPage.scss
  src/styles/MonthlyExhibitionPage.scss
  src/styles/MyPage.scss
  src/styles/SignupPage.scss
  src/styles/StartingPage.scss
Labels: 💭 1 FEATURE, 🎨 2 HTML & CSS

#40 Feature/#35 exhibition detail page
  src/App.js
  src/assets/icons/add_shopping_cart.svg
  src/assets/testImg.png
  src/pages/ExhibitionDetailPage.jsx
  src/styles/ExhibitionDetailPage.scss
Labels: 💭 1 FEATURE, 🎨 2 HTML & CSS

#42 fix: 중복되는 import 파일들 삭제
  src/App.js
Labels: 🐞 4 FIX
